body{
    background: rgb(87, 72, 101);
    font-family: Arial, sans-serif;
    color: white;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}